{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block cardtitle %}
    {% translate 'create order' %}
{% endblock %}

      {% block css %}
<link rel="stylesheet" href="{% static 'css/easy-autocomplete.min.css' %}">
<style>
.easy-autocomplete-container ul{
padding :0;
}

</style>
      {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<form action="{% url 'CreateOrder' %}" method='post'>
    {%csrf_token%}
    {{ form|crispy }}
<div class="align-items-baseline form-group justify-content-around flex-nowrap row ">
    <label>{% translate 'total price' %}</label>
    <span id="fullprice" class="col-sm-9 text-danger font-weight-bolder">0 <i class="mdi mdi-currency-ils"></i></span>
    <input type="text" class="d-none" id="price">
</div>

<input class="btn btn-gradient-primary font-weight-medium auth-form-btn" type="submit" value="{% translate 'submit' %}">
</form>


{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>
<script>
        $(document).ready(function(){
            $(".card").addClass("col-6");

                        var options = {
               url: function(phrase) {
                  return "http://127.0.0.1:8000/customers/api/search/?data=" + phrase + "&format=json";
               },
               listLocation: "results",
               getValue: function(element){
                  return element.customer_name
               },
                	list: {

                 onSelectItemEvent: function() {
                     var value = $("#id_customer_name").getSelectedItemData().customer_PhoneNumber.replaceAll(/\s/g,'');
                     var price = $("#id_customer_name").getSelectedItemData().price_per_gallon
                     $("#id_phone_number").val(value).trigger("change");
                     $("#price").val(price).trigger("change");
                 }

            },
            };
            $("#id_customer_name").easyAutocomplete(options);

            $("#id_num_of_gallon").keyup(function(){
                if($("#price").val())
                    $("#fullprice").html($("#id_num_of_gallon").val() * $("#price").val() + ' <i class="mdi mdi-currency-ils"></i>')
            })
        });


</script>
{% endblock %}