{% extends 'base.html' %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
<div class="card">
                     <div class="card-body">
                        <div class="d-flex justify-content-between pb-3">
                           <div>
                              <h4 class="card-title">المشتركين</h4>
                           </div>
                        </div>

                        <table  id="customersList" data-server-side="false" data-ajax="http://127.0.0.1:8000/customers/api/list/?format=datatables" class="table table-hover dt-responsive nowrap">
                           <thead>
                              <tr>
                                 <th data-data="null"></th>
                                 <th data-data="customer_name">الاسم</th>
                                 <th data-data="customer_PhoneNumber" >رقم الهاتف</th>
                                 <th data-data="customer_lastOrderDate">تاريخ أخر طلب</th>
                                 <th data-data="price_per_gallon">مجموع المشتريات</th>
                              </tr>
                           </thead>
                        </table>
                     </div>
                  </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/dataTableStyle.js' %}"></script>

{% endblock %}
