
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cardtitle %}
    {% translate 'Customers' %}
{% endblock %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <style>
        .form-group {
            margin-bottom : 0.3rem;
         }
    </style>
{% endblock %}
{% block content %}


                        <table  id="customersList" data-server-side="false" data-ajax="{% url 'CustomersListApi' %}?format=datatables" class="table table-hover dt-responsive nowrap">
                           <thead>
                              <tr>
                                 <th data-data="null"></th>
                                 <th data-data="customer_name">{% translate "Full name" %}</th>
                                 <th data-data="customer_PhoneNumber" >{% translate "Phone number" %}</th>
                                 <th data-data="price_per_gallon">{% translate "Price per gallon" %}</th>
                                  <th data-data="customer_accepted_orders_count">{% translate "accepted orders count" %}</th>
                                  <th data-data="null">{% translate "customer all sales" %}</th>
                                 <th data-data="customer_lastOrderDate">{% translate "Last order date" %}</th>
                                  <th>{% translate 'actions' %}</th>
                              </tr>
                           </thead>
                        </table>
{% endblock %}
{% block js %}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/customersList.js' %}"></script>
{% endblock %}
