{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block cardtitle %}
    {% translate 'add data entry employee' %}
{% endblock %}

{% block content %}
{% for field in form %}
    {{ field.errors }}
{% endfor %}
<form action="{% url 'CreateDataEntryEmployee' %}" method='post'>
    {% csrf_token %}

{% for field in form %}
<div class="align-items-baseline form-group justify-content-around row ">
        {{ field.label_tag }}
            <div class="col-sm-9">
             {{ field }}
             </div>
    </div>
        {% endfor %}
<input class="btn btn-gradient-primary font-weight-medium auth-form-btn" type="submit" value="{% translate 'submit' %}">
</form>


{% endblock %}

{% block js %}
<script>
        $(document).ready(function(){
            $(".card").addClass("col-6");
        });
</script>
{% endblock %}