
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block cardtitle %}
    {% translate 'Employees' %}
{% endblock %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <style>
        .form-group {
            margin-bottom : 0.3rem;
         }
    </style>
{% endblock %}
{% block content %}


                        <table  id="employeesList" data-server-side="false" data-ajax="http://127.0.0.1:8000/employees/api/list/?format=datatables" class="table table-hover dt-responsive nowrap">
                           <thead>
                              <tr>
                                 <th data-data="null"></th>
                                 <th data-data="employee_name">{% translate "Full name" %}</th>
                                 <th data-data="employee_PhoneNumber" >{% translate "Phone number" %}</th>
                                 <th data-data="salary_per_day">{% translate "salary per day" %}</th>
                                 <th data-data="is_data_entry">{% translate "data entry" %}</th>
                                  <th data-data="absences_count">{% translate "absence for this month" %} ({% now 'n' %})</th>
                                  <th>{% translate 'actions' %}</th>
                              </tr>
                           </thead>
                        </table>
{% endblock %}
{% block js %}a

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/employeesList.js' %}"></script>

{% endblock %}
